{% extends 'base.html' %}

{% block head %}
<title>UPEFinder</title>
{% endblock %}

{% block body %}

<div class="row">
    <a href='/'><button class="btn"><i class="fa fa-home"></i> Home</button></a>
    <button class="btn"><i class="fa fa-bars"></i> Cite Us</button>
    <div style="width: 100%; text-align: center; position: relative;"><img src="/static/img/UPEFinder_logo.jpg" alt="UPEFinder" style="width:28%" height="150" align="center"></div>
    <div style="position: absolute; right: 0; top: 0"><img src="/static/img/proteored.png" alt="Proteored" style="width:100%" height="80"> </div>
</div>

<div class="content" style ="margin-bottom: 1cm;">
    <h1 style="text-align: center">Disease Search</h1>
    <div class="content" style ="margin-top: 1cm;">
        <h5>Enter a new query:</h5>
        <form action="/" method="POST">
            <select id="drop-down" name="drop-down">
              <option value="neXtProt" {% if "neXtProt" == choice %} selected {% endif %}>neXtProt</option>
              <option value="Ensemble" {% if "Ensemble" == choice %} selected {% endif %}>Ensemble Id</option>
              <option value="Gene_Name" {% if "Gene_Name" == choice %} selected {% endif %}>Gene Name</option>
              <option value="GO_Term" {% if "GO_Term" == choice %} selected {% endif %}>GO Term</option>
              <option value="GO_Id" {% if "GO_Id" == choice %} selected {% endif %}>GO Id</option>
              <option value="MSIG" {% if "MSIG" == choice %} selected {% endif %}>MSIG Term</option>
              <option value="Disease" {% if "Disease" == choice %} selected {% endif %}>Disease</option>
              <option value="Chromosome" {% if "Chromosome" == choice %} selected {% endif %}>Chromosome</option>
            </select>
            <input type="text" name="content" id="content">
            <input type="submit" value="Search">
        </form>
    </div>
    <!-- ################ -->
    <!-- Begin TCGA chunk -->
    <!-- ################ -->
    <p><font size="3">Results of approximate search of <strong>{{target}}</strong>. Please select one to proceed with the search.</font></p>
    <h3 style="text-align: left">Disease results: {{mala_stats.count()}}</h3>
    {% if mala_stats.count() < 1 %}
    <table class="sortable">
        <tr style="background-color: #ebebeb;">
            <th class="header">Disease name</th>
            <th class="header">Disease description</th>
            <th class="header">Parent</th>
            <th class="header">PR Rank TCGA</th>
            <th class="header">PR Rank GTEX</th>
            <th class="header">PR Rank CCLE</th>
            <th class="header">Additional information</th>
            <th class="header">Actions</th>
        </tr>
            <tr>
                <td>No results</td>
                <td>No results</td>
                <td>No results</td>
                <td>No results</td>
                <td>No results</td>
                <td>No results</td>
                <td>No results</td>
                <td>None</td>
            </tr>
    </table>
    {% else %}
    <table class="sortable">
            <tr style="background-color: #ebebeb;">
                    <th class="header">Disease name</th>
                    <th class="header">Disease description</th>
                    <th class="header">Parent</th>
                    <th class="header">PR Rank TCGA</th>
                    <th class="header">PR Rank GTEX</th>
                    <th class="header">PR Rank CCLE</th>
                    <th class="header">Additional information</th>
                    <th class="header">Actions</th>
                </tr>
        {% for mala in mala_stats %}
            <tr>
                {% if mala['description_url'] is defined%}
                    <td><a href={{mala['description_url']}} target="_blank">{{mala['_id']}}</a></td>
                {% else %}
                    <td>{{mala['_id']}}</a></td>
                {% endif %}
                <td>{{mala['description']}}</td>
                <td>{{mala['parent']}}</td>
                <td>{{mala['PR_Rank_TCGA']}}</td>
                <td>{{mala['PR_Rank_GTEX']}}</td>
                <td>{{mala['PR_Rank_CCLE']}}</td>
                <td>{{mala['xRefs']|join(', ')}}</td>
                <td>
                    <a href="find_MALA/{{ target }}/{{ mala['_id'] }}">Search!</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-chevron-circle-up" style="font-size:36px" aria-hidden="true"></i></button>
    <script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
</div>



{% endblock %}
